# PyCharm Projects
.idea/

# Output directory
output/

# References models directory
reference_models/

# Datasets directory
data/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so